.board-index{
  display: flex;
  justify-content: space-between;
  margin-top: 65px;
}

.board-index-navbar-container{
  width: 30%;
  max-width: 250px;
  min-width: 100px;
  box-sizing: content-box;
  padding: 5px;
  margin-left: 5px;
  line-height: 200%;
  max-height: 250px;
  height: 0;
}

.board-index-navbar-container > *{
  cursor: pointer;
}

.board-index-list-container{
  min-width: 70%;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 5px;
  
}

.board-index-list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.board-index-list > * {
  padding: 10px;
  margin: 5px;
  overflow: hidden;
  background-color: lightgrey;
  height: 75px;
  width: inherit;
  min-width: 100px;
  max-width: 400px;
  border-radius: 4px;
  cursor: pointer;
}

#create-board-btn{
  cursor: pointer;
  background-color: white;
  text-align: center;
  line-height: 450%;
  border: 1px red solid;
}

.board-index-list > *:hover {
  background-color: rgba(128, 128, 128, 0.666);
}

.board-index-list > * > a{
  display: block;
  box-sizing: content-box;
  height: 100%;
  width: 100%;
  margin-top: -10px;
  margin-left: -10px;
  padding: 10px;
}

.board-index-navbar-container {
  z-index: 3;
}

#board-index-title{
  padding: 5px;
  /* border: 1px red solid; */
  padding-left: 10px;
  font-weight: 900;
  font-size: 17px;
}