.board-options-menu {
    position: fixed;
    height: 100%;
    right: 0;
    top: 41px;
    width: 300px;
    background: whitesmoke;
}

.menu-title{
    padding: 8px;
    color: grey;
    font-size: 18px;
    border-bottom: 1px solid lightgrey;
}

.menu-title > button {
    top: 44.5px;
    background: transparent;
    border-radius: 4px;
    position: fixed;
    right: 5px;
    outline: none;
    border: none;
    padding: 0 9px 1px 9px;
    font-size: 18px;
    color: grey;
    text-align: center;
    line-height: 26px;
}

.menu-title > button:hover {
    background: rgba(0,0,0,0.2);
}

.menu-options{
    padding: 8px 20px;
    display: flex;
    flex-direction: column;
    height: 82%;
}

#delete-board-button{
    align-self: flex-end;
    margin: auto auto 0 auto;
    padding: 10px 20px;
    outline: none;
    cursor: pointer;
    background: rgb(190, 0, 0);
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
}

#delete-board-button:hover {
    background: rgb(130, 0, 0);
}

.board-members {
    text-align: left;
    line-height: 175%;
}
