.create-card-form {
  /* border: 1px red solid; */
  display: flex;
  flex-direction: column;
  justify-content: left;
  height: fit-content;
  background: red;
}

.create-card-form > input[type=text] {
  /* border: 1px green solid; */
  padding: 5px;
  padding-left: 0px;
  padding-top: 2px;
  /* padding-left: 3px; */
  font-size: 15px;
  background: transparent;
  height: 20px;
  /* margin: auto 0; */
  font-family: 'Lato', sans-serif;
  letter-spacing: 0.06em;
  font-weight: 600;
}

.create-card-form > div > input[type=submit] {
  /* border: 1px purple solid; */
  padding: 10px 5px 10px 5px;
  font-size: 15px;
  background: rgba(85, 196, 85, 0.9);
  color: white;
  /* width: 33.33%; */
  width: 100px;
  border-radius: 4px;
  margin-top: 18px;
  cursor: pointer;
  /* margin-left: -10px; */
  margin-bottom: 5px;
}

.create-card-form > div > input[type=submit]:focus {
  outline: none;
}

.create-card-form > div {
  background: transparent;
}

.create-card-form > div > button {
  /* border: 1px red solid; */
  background: transparent;
  color: rgba(0, 0, 0, 0.6);
  padding: 6px;
  margin: auto;
  font-size: 20px;
  margin-left: 5px;
}
.create-card-form > div > button:hover {
  color: black;
}

.create-card-form > input[type=text]::placeholder{
  font-size: 14px;
}

.create-card-form > input[type=text]:focus::placeholder{
  color: transparent;
}

.create-card-form > input[type=text]:focus{
  outline: none;
}

#add-card-btn {
  padding: 7px;
  background: transparent;
  text-align: left;
  /* border: 1px solid red; */
  width: 100%;
  font-size: 15px;
  margin-top: 5px;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.3);
}

#add-card-btn:hover {
  background: rgba(0, 0, 0, 0.4);
  color: black;
  text-decoration: underline;
}

#add-card-btn {
  -webkit-transition: text-decoration 0.1s, background-color 0.1s;
  -moz-transition:    text-decoration 0.1s, background-color 0.1s;
  -ms-transition:     text-decoration 0.1s, background-color 0.1s;
  -o-transition:      text-decoration 0.1s, background-color 0.1s;
  transition:         text-decoration 0.1s, background-color 0.1s;
}

/* 
input {
  -webkit-transition: background-color 0.1s, outline 0.1s;
  -moz-transition:    background-color 0.1s, outline 0.1s;
  -ms-transition:     background-color 0.1s, outline 0.1s;
  -o-transition:      background-color 0.1s, outline 0.1s;
  transition:         background-color 0.1s, outline 0.1s;
} */