.lists-index-container {
    /* border: 1px red solid; */
    --indexHeight: 87vh;
    background: transparent;
    margin-top: -20px;
    height: var(--indexHeight);
}

.lists-index {
    /* border: 2px purple solid; */
    display: flex;
    overflow-x: scroll;
    /* --thisHeight: height; */
    max-height: 90vh;
}



.lists-index > li > form > input{
    /* border: 2px green dashed; */
    background: transparent;
    font-size: 14px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.88);
    padding: 5px;
    cursor: pointer;
}

.lists-index > li > form > input:focus{
    /* border: 2px yellow dashed; */
    background: white;
    font-size: 14px;
    font-weight: bold;
    color: black(0, 0, 0, 0.88);
    padding: 5px;
}



.lists-index > li > form {
    background: transparent;
}

.lists-index > li {
    /* border: 1px brown solid; */
    background: rgba(211, 211, 211, 0.8);
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    border-radius: 4px;
    padding: 10px;
    /* padding-bottom: 40px; */
    margin-bottom: 15px;
    /* height: 80vh; */
    /* max-height: 80vh; */
    max-height: 85vh;
    width: 230px;
    min-width: 230px;
    max-width: 100%;
    /* display: inline-table; */
    /* overflow-y: hidden; */
}

.list-index-item {
    padding: 10px;
}




.lists-index > li > ul {
    /* border: 1px green solid; */
    padding: 5px;
    margin-top: 10px;
    overflow-y: scroll;
    max-height: 80vh;
}

.lists-index {
    display: flex;
    background: transparent;
    justify-content: left
}

.card-container {
    /* border: 2px orangered solid; */
    background: transparent;
    margin-right: -10px;
    margin-left: -5px;
}

.card-container > * {
    /* border: solid red 1px; */
    background: rgba(255, 255, 255, 0.9);
    margin: 7px;
    margin-right: 0;
    margin-left:  0;
    border-radius: 4px;
    padding: 10px;
    line-height: 150%;
    letter-spacing: 0.03em;
    /* border: none; */
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.25) ;
    cursor: pointer;
}


.create-list-form{
    /* border: 1px solid pink; */
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    background: transparent;
}

.create-list-form > input[type=text]{
    /* border: 2px green dashed; */
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    cursor: pointer;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.9);
    padding: 5px;
    margin: 5px;
    margin-top: 0px;
    width: 230px;
    min-width: 230px;
    max-width: 100%;
}

.create-list-form > input[type=text]::placeholder{
    color: rgba(255, 255, 255, 0.3);
}

.create-list-form > input[type=text]:focus::placeholder{
    color: rgba(0, 0, 0, 0.6);
}



.create-list-form > input[type=text]:focus{
    outline: none;
    cursor: text;
    background-color: white;
    color: black;
}

input {
  -webkit-transition: background-color 0.1s, outline 0.1s;
  -moz-transition:    background-color 0.1s, outline 0.1s;
  -ms-transition:     background-color 0.1s, outline 0.1s;
  -o-transition:      background-color 0.1s, outline 0.1s;
  transition:         background-color 0.1s, outline 0.1s;
}


.create-list-form > input[type=submit]{
    outline: none;
    cursor: text;
    background-color: rgb(85, 196, 85);
    color: white;
    width: 100px;
    padding: 7px 1px 7px 1px;
    margin-left: 5px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}

.card-container::-webkit-scrollbar {
    width: 8px;
}
.card-container::-webkit-scrollbar-track-piece{
    border-radius: 8px;
    background: transparent;
}
.card-container::-webkit-scrollbar-thumb{
    background: rgba(128, 128, 128, 0.721);
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track-piece{
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.612);
    border-radius: 10px;
}