.lists-index-container {
    /* border: 1px red solid; */
    --indexHeight: 87vh;
    background: transparent;
    margin-top: -20px;
    height: var(--indexHeight);
}

.lists-index {
    /* border: 2px purple solid; */
    display: flex;
    overflow-x: scroll;
    /* --thisHeight: height; */
    max-height: 90vh;
}



.lists-index > li > form > input{
    /* border: 2px green dashed; */
    background: transparent;
    font-size: 14px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.88);
    padding: 5px;
    cursor: pointer;
}

.lists-index > li > form > input:focus{
    /* border: 2px yellow dashed; */
    background: white;
    font-size: 14px;
    font-weight: bold;
    color: black(0, 0, 0, 0.88);
    padding: 5px;
}



.lists-index > li > form {
    background: transparent;
}

.lists-index > li {
    /* border: 1px brown solid; */
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    border-radius: 4px;
    padding: 10px;
    padding-bottom: 40px;
    margin-bottom: 15px;
    /* height: 80vh; */
    /* max-height: 80vh; */
    max-height: 77vh;
    width: 230px;
    min-width: 230px;
    max-width: 100%;
    /* display: inline-table; */
    /* overflow-y: hidden; */
}

.list-index-item {
    padding: 10px;
}

.list-index-item > form > input {

}

.lists-index > li > ul {
    padding: 5px;
    margin-top: 10px;
    overflow-y: scroll;
    max-height: 80vh;
}

.lists-index {
    display: flex;
    background: transparent;
    justify-content: left
}

.card-container {
    /* border: 2px orangered solid; */
    background: lightgrey;
    margin-right: -10px;
    margin-left: -5px;
    /* width: 300px; */
}

.card-container > * {
    /* border: solid red 1px; */
    background: white;
    padding: 10px;
    margin: 7px;
    margin-right: 0;
    margin-left:  0;
    border-radius: 4px;
}

.create-list-form{
    /* border: 1px solid pink; */
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-bottom: 50px;
    background: transparent;
}

.create-list-form > input[type=text]{
    /* border: 2px green dashed; */
    background-color: rgba(0, 0, 0, 0.38);
    border-radius: 4px;
    cursor: pointer;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.88);
    padding: 5px;
    margin: 5px;
    margin-top: 0px;
    width: 230px;
    min-width: 230px;
    max-width: 100%;
}

.create-list-form > input[type=text]:focus{
    outline: none;
    cursor: text;
    background-color: white;
    color: black;
}

.create-list-form > input[type=submit]{
    outline: none;
    cursor: text;
    background-color: rgb(85, 196, 85);
    color: white;
    width: 100px;
    padding: 7px 1px 7px 1px;
    margin-left: 5px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}

.card-container::-webkit-scrollbar {
    width: 8px;
}
.card-container::-webkit-scrollbar-track-piece{
    border-radius: 8px;
    background: transparent;
}
.card-container::-webkit-scrollbar-thumb{
    background: rgba(128, 128, 128, 0.721);
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track-piece{
    border-radius: 10px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.612);
    border-radius: 10px;
}