.lists-index-container {
    /* border: 1px red solid; */
    background: transparent;
    margin-top: -20px;
    height: 87vh;
}

.lists-index {
    display: block;
    height: 50px;
    overflow: scroll;
    /* border: 2px purple solid; */
    padding-bottom: 80vh;
}


.lists-index > li {
    /* border: 2px green dashed; */
    background: lightgrey;
    padding: 10px;
    border-radius: 4px;
    margin-left: 5px;
    min-width: 230px;
    width: 230px;
    font-size: 14px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.88);
}

.lists-index {
    display: flex;
    background: transparent;
    justify-content: left
}