.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
  text-align: center;
}

.modal-child {
  display: inline-block;
  padding: 0px;
  height: fit-content;
  /* background: rgba(255, 0, 0, 0.516);
  border: 1px forestgreen solid; */
}

.transparent {
  background: none;
  z-index: 1;
}