.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.user-navbar * {
  z-index: 2;
}

.board-index-list > li{
  z-index: 2;
}

.board-index-navbar-container {
  z-index: 3;
}


.transparent {
  background: none;
  z-index: 1;
}