.navbar {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    /* height: 60px; */
    background-color: rgb(0, 121, 191);
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar > * {
    color: white;
    padding-bottom: 15px;
}

a {
    color: inherit;
    text-decoration: none;
}

.float-right > a {
    margin-left: 12px;
    font-size: 17px;
    font-weight: bolder;
}

.float-right > button {
    border: none;
    margin-left: 12px;
    margin-right: 15px;
    background-color: inherit;
    font-size: 16px;
    font-weight: bolder;
    color: white;
}

.float-left {
    margin-top: 10px;
    margin-left: 2%;
    font-size: 30px;
}

.float-right {
    margin-right: 3%;
    margin-top: 10px;
}

.signup-form-button {
    background-color: white;
    padding: 7px 8px;
    border-radius: 4px;
    color:  rgb(0, 121, 191);
}

#demo-btn {
    color: white;
    margin-right: 0;
    background-color: rgb(85, 196, 85);
    border-radius: 4px;
    padding: 9px 10px 9px 12px;
    font-weight: 400;
    letter-spacing: 0.08em;
}

