
.splash-blurb-background {
  background-image: linear-gradient(rgb(0, 121, 191), rgb(0, 121, 191), rgb(0, 87, 181));
  max-width: auto;
  min-width: 1000px;
  width: 100%;
}

/* container for the whole blue top of the splashpage */
.splash-blurb {
  padding: 100px 4%;
  display: flex;
  color: white;
  justify-content: space-around;
  max-width: 100%;
  margin: 0 auto;
}

.navbar > * {
  margin: auto;
  padding-right: 20px;
}

.splash-content{
  flex-direction: column;
  min-width: 1000px;
  max-width: 1200px;
  width: auto;
  margin: 0 auto;
}

.splash-content > * {
  display: flex;
  justify-content: space-evenly;
  max-width: 100%;
  /* border: 1px solid black; */
}

.splash-content > * > .right-content, .left-content {
  /* border: 1px solid black; */
  margin: 5% auto;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 100%;
}

.right-content > .splash-content-text{
  padding-left: 45px;
  padding-right: 45px;
  max-width: 350px;
}

.left-content > .splash-content-text{
  padding-right: 45px;
  max-width: 350px;
}

.splash-content > * > * > img {
  max-width: 550px;
  min-width: 400px;
  width: 100%;
  height: auto;
}

.splash-blurb-text {
  display: flex;
  flex-direction: column;
  width: 33.333%;
  min-width: 100px;
}

.blurb-big-text {
  line-height: 120%;
  padding-top: 7%;
  font-size: 55px;
  font-weight: bolder;
  min-width: inherit;
}

.blurb-small-text {
  padding-top: 5%;
  font-size: 25px;
  letter-spacing: 0.05em;
  line-height: 150%;
  min-width: inherit;
}

.blurb-signup {
  padding: 20px 40px;
  margin: 10% auto auto 0;
  background-color: rgb(85, 196, 85);
  border-radius: 5px;
  font-size: 20px;
  font-weight: bolder;
  letter-spacing: 0.12em;
  text-align: center;
  color: white;
}

.blurb-demo > button {
  border: none;
  color: white;
  padding: 20px 40px;
  margin: 10% auto auto 0;
  background-color: rgb(85, 196, 85);
  border-radius: 5px;
  font-size: 20px;
  letter-spacing: 0.08em;
  text-align: center;
  cursor: pointer;
}

.blurb-demo > button:focus {
  outline: none;
}

.splash-content > * {
  /* height: 500px; */
}

.blurb-img > img {
  margin-top: 8%;
  margin-left: 5%;
  width: 600px;
  max-width: 100%;
}

.splash-content-text {
  /* border: 1px red dashed; */
  line-height: 175%;
}

.splash-content-text > * {
  /* border: 1px orangered dashed; */
}

.large-text {
  font-size: 25px;
  font-weight: bolder;
}

.med-text {
  font-size: 19px;
  font-weight: bold;
}

.splash-content-text > .large-text {
  padding: 5px;
}

.splash-content-text > .med-text {
  padding: 5px;
}

.bottom-img {
  width: 100%;
}