.user-navbar {
  display: flex;
  background-color: #026aa7;
  justify-content: space-between;
  padding-bottom: 2px;
  margin-top: -1.5px;
}

.user-navbar > * {
  display: flex;
  justify-content: space-evenly;
  padding: 2px;
  box-sizing: content-box;
  margin: auto 0;
  z-index: 1;
}


.float-left {
  margin-left: 3px;
  margin-top: 3px;
}

.float-middle{
  font-size: 20px;
  color: hsla(0,0%,100%,.3);
  height: inherit;
}


.home-btn {
  background-color: hsla(0,0%,100%,.3);
  border-radius: 4px;
  font-size: 18px;
  text-align: center;
  margin: auto; 
  padding: 7px;
  color: white;
}

.logo {
  font-size: 23px;
  text-align: center;
  margin: auto; 
  padding: 1px;
  padding-top: 3px;
  color: hsla(0,0%,100%,.3);
}

.logo:hover {
  color: white;
}

.home-btn:hover{
  cursor: pointer;
  background-color: hsla(0,0%,100%,.2);
}

.boards-btn {
  background-color: hsla(0,0%,100%,.3);
  border: none;
  color: white;
  margin-left: 3px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bolder;
}

.boards-btn:focus {
  outline: none;
}

button, .home-btn{
  -webkit-transition: background-color 0.1s;
  -moz-transition:    background-color 0.1s;
  -ms-transition:     background-color 0.1s;
  -o-transition:      background-color 0.1s;
  transition:         background-color 0.1s;
}

.boards-btn:hover{
  cursor: pointer;
  background-color: hsla(0,0%,100%,.2);
}

.searchbar {
  border: none;
  background-color: hsla(0,0%,100%,.3);
  margin-left: 3px;
  border-radius: 4px;
  width: 180px;
  padding: 4px;
  font-size: 14px;
}

.searchbar:focus {
  background-color: white;
  outline: none;
}



.float-right {
  margin-right: 3px;
  margin-top: 3px;
}

.user-navbar > .float-right > button {
  background-color: hsla(0,0%,100%,.3);
  border-radius: 4px;
  font-size: 18px;
  text-align: center;
  margin: auto 2px; 
  padding: 5.5px;
  color: white;
  width: 33px;
}

.float-right > button:hover {
  cursor: pointer;
  background-color: hsla(0,0%,100%,.2);
}

.float-right > button:focus {
  outline: none;
}


#user-options-btn{
  color: black;
  background-color: whitesmoke;
  border-radius: 50%;
  height: 33px;
  font-size: 14px;
}

#user-options-btn:hover{
  background-color: whitesmoke;
}

.user-options {
  position: absolute;
  background-color: whitesmoke;
  color: black;
  cursor: pointer;
  box-shadow: 0 0 1px;
  margin-right: 3px;
  min-width: 300px;
  right: 3px;
  top: 45px;
  padding: 5px 0;
  text-align: left;
  border-radius: 4px;

}

.user-options > li {
  padding: 10px;
}

.user-options > li:hover {
  background-color: rgba(22, 22, 22, 0.05);
}

#user-options-title{
  color: rgba(53, 52, 52, 0.735);
  text-align: center;
  cursor: text;
}

#user-options-title:hover{
  background-color: inherit;
  text-align: center;
  cursor: text;
}

hr {
  border: none;
  border-top: 1px solid lightgray;
  box-shadow: none;
  color: none;
  width: 80%;
}

.user-navbar-information{
  position: absolute;
  background-color: whitesmoke;
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  margin-right: 75px;
  width: 150px;
  right: 3px;
  top: 45px;
  padding: 5px 0;
  padding: 5px;
  text-align: center;
  font-size: 15px;
  font-weight: 550;
  line-height: 150%;
  border-radius: 4px;
}

#information-title{
  font-size: 16.5px;
  color: rgba(53, 52, 52, 0.735);
  text-align: center;
  cursor: text;
  letter-spacing: 0.08em;
}

.user-navbar-information {
    border-radius: 4px;
    padding: 10px;
}

.notification{
  position: absolute;
  background-color: whitesmoke;
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  margin-right: 40px;
  width: 150px;
  right: 3px;
  top: 45px;
  padding: 10px;
  text-align: center;
  font-size: 15px;
  font-weight: 550;
  line-height: 150%;
  border-radius: 4px;
}

#notifications{
  color: rgba(0, 0, 0, 0.35);
}