.user-form {
    width: 400px;
    margin: 35px auto;
    /* background-color: lightgrey; */
    display: flex;
    flex-direction: column;
    line-height: 220%;
    padding-top: 100px;
}

.form-title {
    /* background-color: grey;  */
    width: 100%;
    font-size: 31.8px;
}

.user-form > form {
    display: flex;
    flex-direction: column;
    /* margin: 20px auto; */
}

.user-form > a {
    text-decoration: underline;
    color: blue;
}

.user-form > * > label {
    /* color: grey; */
}

.user-form > * > input {
    /* width: 100%; */
    background-color: rgb(238, 238, 238);
    box-sizing: border-box;
    padding: 12px 20px;
    font-size: 18px;
    border-radius: 4px;
}

.user-form > * > input[type=submit] {
    margin-top: 35px;
    color: grey;
}

.user-form > * > input[type=submit]:hover {
    margin-top: 35px;
    background-color: green;
    color: white;
}

.errors {
    margin-bottom: 25px;
    line-height: 220%;
    /* margin: 0 auto; */
    /* display: inline-block;
    flex-direction: column; */
}

.errors > li {
    color: white;
    background-color: rgba(218, 47, 47, 0.904);
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 1px 7px;
    /* margin: 10px 0px; */
    box-sizing: border-box;
}

