.user-navbar {
  display: flex;
  background-color: #026aa7;
  justify-content: space-between;
  padding-bottom: 2px;
}

.user-navbar > * {
  display: flex;
  justify-content: space-evenly;
  padding: 2px;
  box-sizing: content-box;
  margin: auto 0;
}


.float-left {
  margin-left: 3px;
  margin-top: 3px;
}

.float-middle {
  margin-top: 3px;
  display: flex;
  height: 30px;
}

.home-btn {
  background-color: hsla(0,0%,100%,.3);
  border-radius: 4px;
  font-size: 18px;
  text-align: center;
  margin: auto; 
  padding: 7px;
  color: white;
}

.logo {
  font-size: 23px;
  text-align: center;
  margin: auto; 
  padding: 1px;
  padding-top: 3px;
  color: hsla(0,0%,100%,.3);
}

.logo:hover {
  color: white;
}

.home-btn:hover{
  cursor: pointer;
  background-color: hsla(0,0%,100%,.2);
}

.boards-btn {
  background-color: hsla(0,0%,100%,.3);
  border: none;
  color: white;
  margin-left: 3px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bolder;
}

.boards-btn:focus {
  outline: none;
}

button, .home-btn{
  -webkit-transition: background-color 0.1s;
  -moz-transition:    background-color 0.1s;
  -ms-transition:     background-color 0.1s;
  -o-transition:      background-color 0.1s;
  transition:         background-color 0.1s;
}

.boards-btn:hover{
  cursor: pointer;
  background-color: hsla(0,0%,100%,.2);
}

.searchbar {
  border: none;
  background-color: hsla(0,0%,100%,.3);
  margin-left: 3px;
  border-radius: 4px;
  width: 180px;
  padding: 4px;
  font-size: 14px;
}

.searchbar:focus {
  background-color: white;
  outline: none;
}

.float-middle{
  font-size: 20px;
  color: hsla(0,0%,100%,.3);
  height: inherit;
}


.float-right {
  margin-right: 3px;
  margin-top: 3px;
}

.user-navbar > .float-right > button {
  background-color: hsla(0,0%,100%,.3);
  border-radius: 4px;
  font-size: 18px;
  text-align: center;
  margin: auto 2px; 
  padding: 5.5px;
  color: white;
  width: 33px;
}

.float-right > button:hover {
  cursor: pointer;
  background-color: hsla(0,0%,100%,.2);
}

.float-right > button:focus {
  outline: none;
}


#user-options-btn{
  color: black;
  background-color: lightcyan;
  border-radius: 50%;
  height: 33px;
  font-size: 14px;
}

#user-options-btn:hover{
  background-color: lightcyan;
}

.user-options {
  position: absolute;
  background-color: lightcyan;
  color: red;
  cursor: pointer;
  z-index: 1;
  box-shadow: 0 0 1px;
  margin-right: 3px;
  min-width: 300px;
  right: 3px;
  top: 45px;
}

.user-options > li {
  padding: 10px;
}